.container {
    margin-top: 20px;
}

.list-group {
    margin: auto;
}


.font-list {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.list-change .red-button {
    display: none;
}

.list-change:hover .red-button {
    display: initial;
}

.important {
    background-color: aqua;
}


